body{
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100vw;
    /* background-image: url('/Gemini_Generated_Image_g4bmxjg4bmxjg4bm.png') no-repeat center center/cover; */

}


.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 16px 32px;
  height: 10vh;
  z-index: 1;
}

.navbar-container ul{
  display: flex;
  gap: 60px;
  margin-top: 10;
  list-style: none;
  z-index: 1;
}

.navbar-container li{
  text-decoration: none;
  color: white;
}

.navbar-container li:hover{
  transform: scale(1.05);
  border-color: #3b82f6; /* Tailwind's blue-500 */
  /* box-shadow: 7px 7px 10px blue; */
  background-color: rgba(255, 255, 255, 0.159);
  padding: 5px;
  font-weight: bold;
  
}

.navbar-container h1{
  margin-top: 10;
  font-size: 28px;
  font-weight: bold;
  z-index: 1;
  color: white;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* HOME */


.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  transform: translateY(-100px);
  padding: 25px;
}

.background-img{
  background: url('./assets/hero-bg.jpg') no-repeat center center;
  width: 100vw;
  height: 100vh;
  z-index: -1;

}

.background-img::before{
  content: '';
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.8));
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.home-container h1{
  color: white;
  font-size: 60px;
  margin: 20px;

}

.home-container h3{
  color: white;
  font-size: 24px;
  margin: 20px;
}

.home-container p{
  color: white;
  font-size: 18px;
  margin: 20px;
}

.button-container{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 15px;
  margin-bottom: 10px;
}

.button-container button{
  width: 150px;
}

.button-container button:hover{
  /* width: 150px; */
  background-color: rgb(0, 0, 255);
  color: white;
  /* box-shadow: 0px 0px 10px blue; */
}


.socialButtonContainer{
  display: flex;
  gap: 20px;
}

.socialButtonContainer button{
  border-radius: 50px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ABOUT */

.aboutContainer{
  margin-top: 5rem;
  width: 100vw;
  margin-bottom: 10rem;
  /* padding: 4rem 2rem; */
}

.aboutContainer h1{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.aboutContainer h3{
  font-size: 1.4rem;
}

.aboutContainer p {
  text-align: center;
  /* font-size: 1.1rem; */
  margin-bottom: 2rem;
  color: #cfcfcf;
}

#aboutP1{
  margin: 30px 50px;
  text-align: center;
}

.aboutContainer img{
  border: 2px solid white;
  width: 20px;
  height: 20px;
}

.cards-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
  max-width: 100vw;
}

.card{
  max-width: 250px;
  text-align: center;
  margin-top: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem 1rem;
  /* background-color: #1a1a1a; */
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card:hover{
  transform: scale(1.03);
  border-color: #3b82f6; /* Tailwind's blue-500 */
  box-shadow: 7px 7px 10px blue;
}

.spanP{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
}

.spanP p{
  border: 2px solid blue;
  border-radius: 30px;
  display: flex;
  /* flex-wrap: wrap; */
  font-size: 15px;
  padding: 1px 6px;
  white-space: nowrap;
  margin: 0;
  color: blue;
}






/* ================================================================================================= */
/* PROJECTS */

.projects-container h1{
  text-align: center;
}

.projectCardContainer{
  /* display: flex; */
  display: flex;
  max-width: 80vw;
  gap: 50px;
  margin: 4rem 10vw;
}

.projectCard{
  width: 40vw;
  /* width: 50%; */
  height: 500px;
  border: 2px solid white;
}

.projectCard img{
  border: 2px solid white;
  width: 100%;
  height: 230px;
  background-color: #1a1a1a;
}

.projectCard h3{
  margin-left: 1rem;
  font-size: 1.4rem;
}


.projects-container p{
  /* text-align: center; */
  color: white;
  margin-left: 1rem;
}